//
// Customize the (child) theme here with css overrides
// or new selectors (for users)
// --------------------------------------------------
//
// Customize the child theme here with css overrides
// or new selectors (for theme developers)
// --------------------------------------------------

$primary: #194b97;
$medium: #dddddd;
$dark: #333333;
$accent1: #edf3f8;
$accent2: #fafafa;
$accent3: #dee2e6;
$accent4: #999999;

#content{
    margin: 0;
    padding: 0;
    max-width: 100%;

}

#main-update-container{
    overflow-y: auto;   
    }

@import 'utilities';
@import 'buttons';



//Elements
@import'card-slider';
@import 'product-navbar';
@import 'feature-box';
@import 'collapse';



.skindex-gif-container{
    top: 8%;
    left: 44%;
    position: absolute;
    max-width: 70%;
    max-height: 60%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    