////////// Card Slider

.scrolling-wrapper {
    overflow-x: auto;
}

.check-card {
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: none;
        opacity: 0.9;
    }


    & .card-footer {
        transition: all 0.3s ease-in-out;
    }

    & .card-footer:hover {
        background-color: $accent3;
    }
}

.form-check-input:checked+.check-card {
    border: 2px solid $blue;
}



.w-scrolling-wrapper {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}

.w-scrolling-wrapper::-webkit-scrollbar {
    display: none;
    // Hide standard scrollbar in Chrome, Safari, and Opera //
}


.slide:first-child {
    padding-left: calc((50vw - 10rem));
    padding-right: 0;
}

.slide:last-child {
    padding-right: calc((50vw - 10rem));
    padding-left: 0;
}

.paginationContainer {
    display: block;
    background-color: $accent3;
    justify-content: center;
    margin-top: 1rem;
    width: 15rem;
    height: 4px;
}

.indicator {
    position: relative;
    width: 5rem;
    height: 4px;
    background-color: $blue;
    transition: transform 0.3s ease-in-out;
}

.slider-container::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    opacity: .9;
    background: linear-gradient(to left, white 1%, transparent 15%, transparent 85%, white 100%);
    pointer-events: none;
}