//Collapse button
  .btn-collapse {
    outline: 0;
    background-color: transparent;
    min-width: 20rem;
    cursor: pointer;
    display: flex;
    padding: 0;
    justify-content: space-between;
    transition: 0.3s;
}

.btn-collapse:focus {
    outline: 0;
}

.btn-collapse:active {
    transform: scale(1.10);
}

.btn-collapse:hover {
    background-color: black;
    & .btn-label {
        color: white;
    }
    & .btn-icon {
        color: white;
    }
}

.btn-collapse .btn-icon {
    height: 2rem;
    display: inline-block;
    transition: transform 0.5s linear(0 0%, 0.12 12.58%, 0.4 22.22%, 1 33.33%, 1.09 39.54%, 1.03 47.71%, 0.99 58.82%, 0.99 72.39%, 1 85.46%, 1 100%);
}

.btn-collapse .btn-label {
    font-size: 1.05rem;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
    
    display: inline-block;
    margin: 0;
    margin-top: auto;
}

.btn-collapse:not(.collapsed) .btn-icon {
    transform: rotate(90deg);
    /* Rotate icon when collapsed class is not present */
} 

