@using Smartstore.Web.Models.Catalog
@using Smartstore.Core.Catalog.Products
@using System.Resources

@{
 var xmlContent= @"
 <productPage>
    <header>
        <title>UV PHOTOTHERAPY</title>
        <subtitle>Our most powerful and capable phototherapy system ever.</subtitle>
    </header>
    <callUsCard>
        <title>Let's Talk</title>
        <description>Do you have questions? Our MEDlight specialists are here to help, and it's absolutely free. Start the conversation today.</description>
        <callButton>
            <label>Call MEDlight specialists</label>
            <phoneNumber>+49 5221 994 29 0</phoneNumber>
        </callButton>
        <emailButton>
            <label>Email MEDlight specialists</label>
            <emailAddress>info@medlight.eu</emailAddress>
        </emailButton>
    </callUsCard>
    <technologiesSection>
        <title>Technologies</title>
        <subtitle>Discover our state of the art technologies that make the N-LINE the best UV phototherapy cabin</subtitle>
        <technologies>
            <technology>
                <icon>DoseSense.svg</icon>
                <title>Dose Sense</title>
                <description>Advanced sensors continuously monitor the UV output and provide real-time dosage calculations.</description>
            </technology>
            <technology>
                <icon>ARC-Concept.svg</icon>
                <title>ARC-Concept</title>
                <description>The curved lamp arrangement is based on the human body and ensures a uniform distance to the skin.</description>
            </technology>
        </technologies>
    </technologiesSection>
</productPage>
";
}

@using System.Xml.Linq
@{
    // Load the XML content into an XDocument
    var xmlDoc = XDocument.Parse(xmlContent);
    var jsonText = Newtonsoft.Json.JsonConvert.SerializeXNode(xmlDoc);
    dynamic XNA = Newtonsoft.Json.JsonConvert.DeserializeObject(jsonText);
}

<div class="bg-wawrning">@GetType().Namespace</div>




